html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

canvas {
	width: 100vw;
	height: 100vh;
	background-color: #fff;
	margin: 0;
}

#errorDiv {
	background-color: #eee;
	color: #fd8080;
	font-weight: 500;
	font-size: 18pt;
	border: 1px solid white;
	padding: 25px;
	margin-top: 20px;
}

#fullscreenButton {
	position: absolute;
	top: 50px;
	left: 200px;
}
