body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #aaa;
}
canvas {
	width: 80vw;
	height: 70vh;
	background-color: #fff;
	margin-top: 30px;
}

#errorDiv {
	background-color: #eee;
	color: #fd8080;
	font-weight: 500;
	font-size: 18pt;
	border: 1px solid white;
	padding: 25px;
	margin-top: 20px;
}
